@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

* {
    font-family: "Roboto Mono", monospace;
    color: #e0e1dd;
}

body {
    background-color: #0d1b2a;
}
main {
    background-color: #0d1b2a;
    min-height: 100vh;
}
.siteText {
    font-size: 32px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 1vw;
    text-align: center;
    background-color: #1b263b;
}
.navBar {
    box-sizing: border-box;
    display: flex;
}
.navBar h1 {
    color: #51cb20;
    margin-right: auto;
    margin-left: 1vw;
    font-size: 4vw;
}
.navBar input {
    color: #51cb20;
    background-color: #1b263b;
    border: #1b263b;
    font-size: 15px;
    align-self: center;
    padding: 1vw;
    margin-right: 1vw;
    border-radius: 1vw;
}
.navBar input:hover {
    background-color: #131b29;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.topBlog {
    display: flex;
    padding: 1vw;
    border-radius: 1vw;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    background-color: #1b263b;
}
.topBlog p {
    font-size: 20px;
}
.newestBlog p {
    font-size: 20px;
}
.newestBlog {
    padding: 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    background-color: #1b263b;
}
h2 {
    color: #51cb20;
    text-align: center;
}
ion-icon {
    color: #51cb20;
}
.footer {
    text-align: center;
}
.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.categories a {
    text-align: center;
    text-decoration: none;
    border-radius: 0.5vw;
    background-color: #51cb20;
    color: #0d1b2a;
    padding: 1vw;
    flex-basis: 5vw;
    font-size: 16px;
    margin: 1vw;
}
